{% extends "base.html" %}
{% block title %}Gothreau | About{% endblock %}
{% block content %}
<img id="about__image" src="../static/assets/performing@0.5x.jpg">

<div class="about__info__container">
    <div class="about__info-name">Justin Gothreau</div>
    <div class="about__info-titles">artist | videographer | creative</div>
    <div class="about__info-text"><p>Lorem ipsum dolor sit amet. 33 voluptatem quos eum maiores adipisci ab nesciunt perferendis. Ut esse quam est maiores adipisci ut doloribus officiis id animi quibusdam. Eos placeat dolores et harum recusandae sit commodi dignissimos. Ut laborum reiciendis eos perferendis tempora et maxime doloribus.</p><br>
        <p>Ut galisum voluptatem et quae dicta et ipsam consequatur vel officiis recusandae eos illum quam! Et quidem consequuntur ab neque alias 33 vero voluptatem est illo galisum est eligendi labore qui possimus iste hic ipsa deserunt! Aut saepe nisi rem soluta corrupti rem officiis natus vel dolores maxime aut ipsa perferendis.</p><br>
        <p></p>Hic illo nihil in repellendus labore vel amet facere et quidem quia sed debitis rerum ea alias sequi est provident inventore. Aut dolore consequatur sit soluta dolor non autem rerum dolor dolorem nam autem suscipit. Qui nisi quas quidem eveniet aut porro accusantium. Ea eius sunt qui dignissimos molestiae est consequatur distinctio aut veniam assumenda sit beatae praesentium ut quaerat molestiae est dolorem autem.</p>
        </div>
</div>
{% endblock %}

