{% extends "base.html" %}
{% block title %}Gothreau{% endblock %}
{% block content %}
<img id="home__image" src="../static/assets/homeimage.png">

        <div class="home__info__container">
            <div class="home__info__project-type">new single</div>
            <div class="home__info__project-name">grown</div>
            <div class="home__info__project-info">Lorem ipsum dolor sit amet. 33 voluptatem quos eum maiores adipisci ab nesciunt perferendis.</div>
            <div class="home__info__project-buttons">
                <div class="button_stream button">
                    <a href="https://gothreau.fanlink.to/grown" target="_blank">stream now</a>
                </div>
            </div>
        </div>
{% endblock %}
    
<!-- <div class="video_player">
    <object data='https://www.youtube.com/embed/aN2B4BhSKf8'width='800px' height='450px'></object>
</div>

<div class="music_player">
    <object data="https://open.spotify.com/embed/album/4cgBKgopjhnpav6JEsTrX0?utm_source=generator" width="300" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div> -->