{% extends "base.html" %}

{% block title %}Gothreau | Music{% endblock %}

{% block content %}
<div class="music__container" id="music__container">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../static/js/music-items.js"></script>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Gothreau | Music</title>
    </head>
<body>
    <div class="page__container">

        <div class="header__container">
            <div class="logo">
                <a href="/">Gothreau</a>
            </div>

            <nav>
                <ul class="nav__links">
                    <li><a href="about">a b o u t</a></li>
                    <li><a href="music">m u s i c</a></li>
                    <li><a href="contact">c o n t a c t</a></li>
                </ul>
            </nav>`

            <div>
                <ul class="socials__links">
                    <li><a href="https://open.spotify.com/artist/0TueEXkLZbVrA2JcB5hkvW?si=JRQL9HlaRdmwG_Q1iAzTZw&dl_branch=1&nd=1" target="_blank"><img src="../static/assets/spotify.svg"></a></li>
                    <li><a href="https://www.instagram.com/eastyorksfinest" target="_blank"><img src="../static/assets/instagram.svg"></a></li> 
                    <li><a href="https://www.twitter.com/eastyorksfinest" target="_blank"><img src="../static/assets/twitter.svg"></a></li> 
                    <li><a href="https://www.youtube.com/gothreau" target="_blank"><img src="../static/assets/youtube.svg"></a></li> 
                    <li><a href="https://www.twitch.tv/gothreau" target="_blank"><img src="../static/assets/twitch.svg"></a></li>
                    <li><a href="https://www.facebook.com/gothreau" target="_blank"><img src="../static/assets/facebook.svg"></a></li> 
                </ul>
            </div>
        </div>

        <div class="music__container" id="music__container">

    </div>
</body>
<script type="text/javascript" src="../static/js/music-items.js"></script>

</html> -->